Repository Aval1099/birch-lounge-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run test:related --passWithNoTests

.lintstagedrc.json:

{
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write",
    "git add"
  ],
  "*.{css,scss}": [
    "prettier --write",
    "git add"
  ],
  "src/**/*.{js,jsx}": [
    "npm run test:related --passWithNoTests"
  ]
}

chore: update .gitignore with additional exclusions
  .gitignore
Due: none

fix: resolve test import issues for component tests
  GITHUB_DEPLOYMENT_COMMANDS.md
  src/components/ui/BottomSheet.jsx
  src/test/components/BottomSheet.test.jsx
  src/test/components/Button.test.jsx
  src/test/components/RecipeGrid.test.jsx
  src/test/components/RecipeModal.test.jsx
  src/test/components/SkeletonLoader.test.jsx
  src/test/utils/test-utils.jsx
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

fix: configure ESLint and restore missing imports to prevent auto-deletion
  eslint.config.js
  src/components/features/AIAssistant.jsx
  src/components/features/RecipeModal.jsx
  src/components/features/gh auth login.txt
  src/components/ui/BottomSheet.jsx
  src/components/ui/SkeletonLoader.jsx
  src/test/components/AIAssistant.pdf.test.jsx
  src/test/components/AIAssistant.test.jsx
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

docs: add comprehensive deployment guide and Vercel configuration
  DEPLOYMENT-GUIDE.md
  vercel.json
Due: prettier --write

feat: comprehensive modern UI design system implementation
  .gitignore
  package.json
  src/components/MainApp.jsx
  src/components/demo/ModernUIDemo.jsx
  src/components/features/ModernRecipeGrid.jsx
  src/components/layout/ModernMobileLayout.jsx
  src/components/ui/ModernButton.jsx
  src/components/ui/ModernCard.jsx
  src/components/ui/ModernHeader.jsx
  src/components/ui/ModernInput.jsx
  src/components/ui/ModernMobileNav.jsx
  src/components/ui/ModernRecipeCard.jsx
  src/components/ui/index.js
  src/index.css
  src/styles/design-system.css
  src/utils/cn.ts
  src/utils/index.js
  src/utils/index.ts
  tailwind.config.js
  vercel.json
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

Add secondary button variant styles
  src/components/ui/Button.jsx
  src/test/components/Button.test.jsx
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

chore: update AppContext footer comment reference
  src/context/AppContext.tsx
Due: none

Add low alcohol mocktail coverage in integration tests
  src/data/sampleMocktails.js
  src/test/features/mocktailIntegration.test.js
  src/utils/mocktailUtils.js
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

fix: load tailwind umbrella import
  src/index.css
Due: prettier --write

Fix offline storage fallbacks and cache type safety
  src/components/ui/EnhancedErrorBoundary.tsx
  src/hooks/useErrorHandler.ts
  src/services/intelligentCacheService.ts
  src/services/offlineStorageService.ts
  src/services/performanceService.ts
  src/services/recipeVersionService.js
  src/services/serviceModeOptimizer.ts
  src/services/versionComparisonEngine.js
  src/test/services/intelligentCacheService.simplified.test.ts
  src/test/services/intelligentCacheService.test.ts
  src/test/services/intelligentCacheService.unit.test.ts
  src/test/services/versionComparisonEngine.test.js
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

fix(main-app): correct toggles and add interaction tests
  src/components/MainApp.jsx
  src/test/integration/mainAppInteractions.test.jsx
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

Restore recipe import actions and secure PDF key lookup
  README.md
  src/components/MainApp.jsx
  src/constants/index.ts
  src/context/appReducer.js
  src/services/pdfService.js
  src/test/integration/mainAppInteractions.test.jsx
  src/test/integration/serviceModeImportFlow.test.jsx
  src/test/services/pdfService.test.js
  src/types/actions.ts
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

Use secure API key service in settings modal
  src/components/features/SettingsModal.jsx
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

chore: update AppContext hook comment
  src/context/AppContext.tsx
Due: none

chore: refresh AppContext hook comment
  src/context/AppContext.tsx
Due: none

Ensure forced cache optimization triggers eviction
  src/services/apiKeyService.js
  src/services/envValidationService.js
  src/services/errorHandler.js
  src/services/geminiService.js
  src/services/intelligentCacheService.ts
  src/test/security/apiKeySecurity.test.js
  src/test/services/intelligentCacheService.test.ts
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

chore: clarify AppContext hook reference
  src/context/AppContext.tsx
Due: none

chore: align appcontext hook comment
  src/context/AppContext.tsx
Due: none

chore: add yarn lockfile
  .gitignore
  yarn.lock
Due: none

build: switch to yarn 4 lockfile without bundled binary
  .gitignore
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore: restore yarn 1 lockfile
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

ci: drop node 18 job and require node 20
  .github/workflows/ci.yml
  package.json
Due: prettier --write

Allow low-alcohol mocktail sample
  src/test/features/mocktailIntegration.test.js
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

ci: switch actions to npm and fix async mocks
  .github/workflows/ci.yml
  src/test/services/intelligentCacheService.test.ts
Due: prettier --write

ci: switch actions to npm and fix async mocks (#14)
  .github/workflows/ci.yml
  src/test/services/intelligentCacheService.test.ts
Due: prettier --write

Fix menu add action and sync action typings
  src/components/features/VibrantRecipeGrid.jsx
  src/types/actions.ts
  src/types/index.ts
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

Fix menu add action and sync action typings (#15)
  src/components/features/VibrantRecipeGrid.jsx
  src/types/actions.ts
  src/types/index.ts
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

Allow low-alcohol mocktail sample (#13)
  src/test/features/mocktailIntegration.test.js
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

fix: restore secure xlsx tarball dependency
  package.json
  yarn.lock
Due: prettier --write

fix: restore secure xlsx tarball dependency (#16)
  package.json
  yarn.lock
Due: prettier --write

chore: regenerate yarn.lock with full dependency tree
  yarn.lock
Due: none

chore: regenerate yarn.lock with full dependency tree (#17)
  yarn.lock
Due: none

fix: use npm-hosted xlsx dependency
  package.json
Due: prettier --write

fix: use npm-hosted xlsx dependency (#18)
  package.json
Due: prettier --write

chore: restore secure sheetjs tarball
  package.json
Due: prettier --write

chore: restore secure sheetjs tarball (#19)
  package.json
Due: prettier --write

chore: add yarn v1 lockfile
  .gitignore
  yarn.lock
Due: none

chore: add yarn v1 lockfile (#20)
  .gitignore
  yarn.lock
Due: none
