Repository Aval1099/birch-lounge-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm run test:related --passWithNoTests

chore: enforce sheetjs tarball override
  package.json
Due: prettier --write

chore: enforce sheetjs tarball override (#21)
  package.json
Due: prettier --write

feat: add browser-safe MCP web fetch wrapper
  api/mcp/web-fetch.js
  mcp-config.json
  scripts/test-mcp.js
  server/mcpWebFetchService.js
  src/components/features/RecipeImporter.jsx
  src/services/mcpManager.js
  src/services/mcpWebFetchClient.js
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

Avoid double initializing MCP service in client
  src/services/mcpWebFetchClient.js
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

Guard API key service maps from missing mocks
  src/services/apiKeyService.js
  src/test/security/apiKeySecurity.test.js
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

Guard API key service maps from missing mocks (#23)
  src/services/apiKeyService.js
  src/test/security/apiKeySecurity.test.js
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

Prevent double initialization of MCP web fetch service
  src/services/mcpWebFetchClient.js
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

Prevent double initialization of MCP web fetch service (#24)
  src/services/mcpWebFetchClient.js
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

Avoid double initialization in MCP web fetch client
  src/services/mcpWebFetchClient.js
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

Restore MCP reconnection by reinitializing shared service
  src/services/mcpWebFetchClient.js
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

Restore MCP reconnection by reinitializing shared service (#26)
  src/services/mcpWebFetchClient.js
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

Add beginner-friendly diagnostic guide
  docs/BEGINNER_DIAGNOSTIC_STEPS.md
Due: prettier --write

Add browser guards to monitoring services
  src/services/offlineManager.ts
  src/services/performanceService.ts
Due: none

Adjust Card defaults and auth error handling
  src/components/ui/Card.jsx
  src/hooks/useAdvancedSearch.ts
  src/services/errorHandler.js
Due: eslint --fix, prettier --write, npm run test:related --passWithNoTests

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: ((any of: *.{js,jsx}) or (any of: *.{json,md,yml,yaml})) or (any of: *.{css,scss})
  npm run test:related --passWithNoTests: any of: src/**/*.{js,jsx}
